*{
    background-color: rgb(243, 245, 245);
}
.title{
    font-size: 20px;
    text-align: center;
    font-family:monospace;
    text-decoration: underline;
}
.des{
    width:10cm;
    margin-top: 2px;
    border-radius: .1cm;
    border-style: dotted;

}
.box{
    
    height: 3cm;
    width: 10cm;
    border-radius: .1cm;
    border-style: dotted;
}
.btn{
    margin-top: 3px;
    color: rgb(255, 255, 255);
    background-color: black;
    
}
.for{
    margin-left: 37%;
    word-spacing: 3px;
    letter-spacing: 1px;
}
@media screen and (max-width: 600px) {
   .for{
    width: 50%;
    margin: 8px auto;
    margin-left: 3cm;
    }
    .box{
        width: 6cm;
    }
    .des{
        width: 6cm;
    }
    .btn{
        margin-left: 1.8cm;
    }
  }
  .map{
      margin-left: 10%;
      border-radius: .5cm;
      border-style: dotted;

  }
 